button>a {
    color: white;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: rgb(16, 93, 165);
}

.btn-primary>a:hover {
    color: white;
}

.btn-info:hover {
    background-color: rgb(55, 176, 233);
}

.btn-info>a:hover {
    color: white;
}